.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px 0 var(--color-font-disable);
  background-color: #fff;
  cursor: pointer;

  &_title {
    font-weight: 500;
  }

  &_description {
    font-size: 1rem;
  }
}
