.exams {
  width: 90%;
  display: flex;
  height: 80vh;
  background-color: var(--element-bg-2);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 0px 3px 0px var(--color-font-disable);

  &_filters {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-right: 1px solid var(--color-font-disable);
    padding: 0 0.5rem 0 0;
    &_head {
      line-height: 1.2;
    }
  }
  &_items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 0 1rem 1rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  @media screen and (max-width: 760px) {
    flex-direction: column;

    &_filters {
      width: unset;
      border-bottom: 0.5px solid var(--color-font-disable);
      border-right: unset;
      padding: 1rem 0;
    }
  }
}
