.exams {
  width: 90%;
  display: flex;
  min-height: 70vh;
  background-color: var(--element-bg-2);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 0px 3px 0px var(--color-font-disable);

  &_filters {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-right: 1px solid var(--color-font-disable);
    padding: 0 0.5rem 0 0;
  }
  &_items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 0 0 0 1rem;
  }
}
