.item {
  padding: 0.5rem 0.2rem;
  border-bottom: 0.2px solid var(--color-font-disable);
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--color-font-active);
  cursor: pointer;
}

.modal {
  min-width: 320px;
  color: var(--color-font-active);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &_update {
    font-size: 0.8rem;
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &_chekboxes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &_btnGroup {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;

    @media screen and (max-width: 784px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
