.input {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  offset: 0px;
  outline: 0px;
  color: var(--color-font-active);
  border: 1px solid var(--color-font-disable);

  &_label {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;

    &_span {
      font-size: 1.1rem;
    }
  }
}
