/* Общий стиль для input */
.input {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  outline: none; /* Убираем outline */
  color: var(--color-font-active);
  border: 1px solid var(--color-font-disable);
  width: 100%; /* По умолчанию занимает всю ширину */
  box-sizing: border-box; /* Включаем border-box для корректного расчета ширины */
}

/* Стили для label */
.input_label {
  display: flex;
  flex-direction: row; /* По умолчанию row */
  gap: 0.1rem;
  align-items: center;
}

/* Если isColumn === true */
.input_label_column {
  flex-direction: column; /* Меняем направление на column */
  align-items: flex-start; /* Выравниваем элементы по левому краю */
  gap: 0.05rem; /* Увеличиваем отступ между label и input */
}

/* По умолчанию полная ширина */
.input_label_fullWidth {
  width: 100%;
}

/* Стили для span внутри label */
.input_label_span {
  font-size: 1.1rem;
  min-width: 30%; /* Минимальная ширина для текста */
}

/* Если isColumn === true */
.input_label_span_column {
  text-align: left; /* Текст слева */
  width: 100%; /* Занимает всю ширину */
}
