.item {
  border-radius: 0.5rem;
  box-shadow: 0 0 3px 0 var(--color-font-disable);
  background-color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  word-wrap: break-word;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 320px;
  max-width: 80vw;
}
