:root {
  --color-background: #eaeff8;
  --color-background-container: #ededed;
  --color-font-disable: #adb5bd;
  --color-font-active: #1f161e;
  --color-action: #166ff6;
  --color-delete: #e94242;
  --element-bg-2: #f4f4f4;

  --color-submit: #ffd9d9;
  --color-font-submit: #e24e4e;

  --color-sent: #fff5d9;
  --color-font-sent: #bf7900;

  --color-success: #e3ffd6;
  --color-font-success: #39990f;

  --gray-color-1: #d3dbe0;
  --text-color: #38424f;
}
