.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  min-width: 300px;

  &_text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
