body {
  overflow-x: hidden;
}

.a {
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  //   width: 100%;
  flex-direction: column;
  gap: 1rem;
}
.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  background-color: var(--app-bg);

  &_header {
    display: flex;
    justify-content: space-between;

    padding: 1rem 3rem;
    border: 1px solid var(--divider-color);
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-2-color);

    &_btn {
      background-color: transparent;
      color: var(--text-2-color);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  &_login {
    display: flex;
    justify-content: end;

    &_btn {
      background-color: transparent;
    }
  }

  &_block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: var(--app-contrast-bg);
    color: #fff;
    border-radius: 1.5rem;

    &_head {
      line-height: 2;
      font-size: 2rem;
    }
    &_text {
      width: 60%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    &_btn {
      min-width: 20%;
      max-width: 300px;
      background-color: rgba(#fff, 0.2);
      border: 1px solid rgba(#fff, 0.4);

      color: #fff;
      padding: 1rem;

      :visited {
        color: #fff !important;
      }
    }
  }

  &_blockConstr {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    padding: 1.5rem;
    border-radius: 1.5rem;
    position: relative;
    min-height: 300px;

    &_head {
      font-size: 2rem;
      color: var(--primary-light-color);
    }

    &_text {
      width: 60%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    &_img {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }

  &_advantages {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &_item {
      background-color: #fff;
      border-radius: 1rem;
      padding: 1rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }

  &_lang {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &_head {
      font-size: 2rem;
    }

    &_container {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;

      &_item {
        padding: 1rem;
        border-radius: 1rem;
        width: 260px;
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: #fff;
      }
    }
  }
  &_fother {
    padding: 1rem;
    background-color: var(--app-contrast-bg);
    color: #fff;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    &_column {
      display: grid;
      grid-template-rows: 1fr;
      gap: 0.5rem;

      @media screen and (max-width: 768px) {
        // flex-direction: row;
        // grid-template-rows: 1fr 1fr 1fr;
        // gap: 0.5rem;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  }
}
