.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background-color: var(--gray-color-1);
  min-width: 300px;
  width: 30vw;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px -5px black;
  background-color: var(--element-bg-2);
}
.wrapper {
  min-width: 50vw;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
