.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  min-width: 290px;
}
.flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.btnGroup {
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}

.btn {
  width: 100%;
}
