.dropdown {
  position: relative;
  // width: 200px;

  &_toggle {
    font-size: 16px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;

    &:hover,
    &:focus {
      border-color: #007bff;
    }
  }

  &_menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    margin: 4px 0 0 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none;
    padding: 0;
    width: max-content;
    padding: 0.25rem;
    flex-direction: column;
    gap: 0.25rem;

    &.open {
      display: flex;
    }
  }

  &_item {
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
    }

    &_selected {
      font-weight: bold;
      color: #007bff;
    }
  }
}
