.wrraper {
  // width: 30%;
  box-shadow: 0px 0px 3px 0px var(--color-font-disable);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 1rem;
  background-color: var(--element-bg-2);
}

.user {
  display: flex;
  gap: 3rem;
  justify-content: space-around;

  &_text {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.btn_group {
  display: flex;
  justify-content: space-evenly;
}
